body{
    background-color: darkslategrey;
    text-align: center;
}
.flex-container{
    display: flex;
    flex-flow: row;
    align-content: space-between; 
}
.fejleckep{
    background-image: url(../img/komuves-1.jpg);
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
nav{
    font-weight: bold;
    background-color: brown;
    font-size: 50px;
    

}
a{
    color: white;
}
a:active{
    background-color:darkred;
}
a:hover{
    background-color: darkgreen;
}
#Fooldal{
    background-color: darkred;
}
.kepek{
    background-repeat: no-repeat;
    background-size: contain;
    width: 500px;
    height: 500px;
}
.kep1{
    background-image: url(../img/epites-felujitas.hu_.17dec.jpg);
}
.kep2{
    background-image: url(../img/letöltés.jpg);
}